@font-face {
    font-family: PT_Sans_Regular;
    src: url(../font/PT_Sans_Regular.ttf);
}

@font-face {
    font-family: PT_Sans_Caption;
    src: url(../font/PT_Sans_Caption.ttf);
}

@font-face {
    font-family: PT_Sans_Narrow;
    src: url(../font/PT_Sans_Narrow.ttf);
}

@font-face {
    font-family: PT_Sans_Bold;
    src: url(../font/PT_Sans_Bold.ttf);
}

body {
    background: #f5f5f5;
    font-family: PT_Sans_Regular;
}

section.master {
    text-align: center;
    margin-bottom: 25px;
}

section.master h1.month-caption {
    font-family: PT_Sans_Caption;
    font-size: 30px;
    color: #8cb951;
}

canvas {
    z-index: -1;
    display: inline-block;
}

section.tab {
    display: none;
}

.top-master .master-circle {
    display: inline-block;
    width: 270px;
    position: relative;
    height: 270px;
    padding-top: 85px;
    vertical-align: top;
}

.top-master .master-circle h1 {
    font-size: 36px;

    font-family: PT_Sans_Caption;
    margin-bottom: 0;
}

.top-master .master-circle h1.red {
    color: #b75050;
}

.top-master .master-circle h1.yellow {
    color: #B7A756;
}

.top-master .master-circle h1.green {
    color: #6f943f;
}


.top-master .master-circle p {
    font-family: PT_Sans_Narrow;
    color: #5f5f5f;
    font-size: 20px;
    margin-bottom: 0;
}

.top-master .master-circle p.date {
    color: #8b8b8b;
    font-size: 14px;
}

.top-master .master-circle canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.top-master .info {
    display: inline-block;
    position: relative;
    height: 270px;
    width: 335px;
    font-size: 18px;
    color: #737373;
}

.top-master .info .bad {
    font-size: 24px;
    font-family: PT_Sans_Bold;
    color: #b75050;
}

.top-master .info .good {
    font-size: 24px;
    font-family: PT_Sans_Bold;
    color: #6f943f;
}

.top-master .control-button {
    position: absolute;
    left: 50%;
    margin-left: -340px;
    margin-top: 120px;
    font-size: 20px;
}

.top-master .control-button a[role=money] {
    display: none;
}

.top-master .master-circle .information .health-information {
    display: none;
}

section.body {
    background-color: #fff;
    border: 1px solid #d4d4d4;
    border-bottom: 0;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    margin: 0 20px;
    padding: 0 20px;
}

section.body .tabs {
    padding: 0;
    border-bottom: 1px solid #d1d1d1;
    margin: 0 0 20px 0 ;

}

section.body .tabs li {
    font-size: 18px;
    color: #acacac;
    display: inline-block;
    padding: 20px 25px 10px 25px;
    cursor: pointer;
}

section.body .tabs li a {
    color: #acacac;
}

section.body .tabs li a.active {
    color: #9ac0e6;
}

section.body .tabs li a:hover {
    color: #7695b5;
    text-decoration: none;
}

section.body .content .buttons-container button.add-button {
    float: right;
}

section.body .content  table.transactions {
    margin-top: 10px;
    font-size: 16px;
}

section.body .content  table.transactions span.description {
    font-family: PT_Sans_Narrow;
    color: #999;
    font-size: 13px;
}


section.body .content  table.plans {
    margin-top: 10px;
    font-size: 16px;
}

section.body .content table.plans .plan-progress {
    border: 1px solid #dedddd;
    padding: 4px;
    position: relative;
    opacity: 0.999;
    background-color: rgba(230, 231, 232, 0.98);
}

section.body .content table.plans .plan-progress-background {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}


section.body .content table.plans .plan-progress-background.green {
    background-color: #6F943F;
}

section.body .content table.plans .plan-progress-background.red {
    background-color: #B75050;
}

section.body .content table.plans .summ {
    text-align: center;
}

div.week {
    text-align: center;
}

div.day {
    vertical-align: top;
    display: inline-block;
    width: 130px;
    height: 130px;
    border: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 4px;
    border-radius: 4px;
}

div.day .date {
    font-family: PT_Sans_Narrow;
    color: #AAA;
}

div.day .spent {
    font-family: PT_Sans_Narrow;
    color: #AAA;
    font-size: 13px;
}

div.day .summ {
    font-family: PT_Sans_Caption;
    color: #6f943f;
    font-size: 24px;
}

div.day .summ.small {
    font-size: 20px;
}

div.day .summ.green, div.day .spent span.green {
    color: #6f943f;
}

div.day .summ.red, div.day .spent span.red {
    color: #b75050;
}

div.day .summ.grey {
    color: #AAA;
}

div.day .spent span {
    font-size: 15px;
}

p.income .summ-editor {
    width: 150px;
    display: none;
}

div.day .inheritedBalance {
    margin-top: 16px;
    font-family: PT_Sans_Narrow;
    color: #AAA;
}

tr.operation a[role=save], tr.plan a[role=save], tr.category a[role=save] {
    display: none;
}

a.right-btn {
    margin-right: 20px;
    float: right;
}

.has-error .selectize-input {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.section-container {
    padding-right: 30px;
}

a.save-income {
    display: none;
}

.notifications-container {
    position: absolute;
    width: 100%;
    top: 0px;
}

.notifications-container .alert {
    margin: 5px;
    padding: 10px;
}

.notifications-container .alert .button-container {
    position: relative;
    right: 0;
    float: right;
}

.notifications-container .alert-dismissible .close {
    right: 0px;
}

.notifications-container .alert-dismissible .button-container .alert-button {
    margin-left: 20px;
    font-family: PT_Sans_Bold;
}
