@font-face {
    font-family: PT_Sans_Regular;
    src: url(../font/PT_Sans_Regular.ttf);
}

@font-face {
    font-family: PT_Sans_Caption;
    src: url(../font/PT_Sans_Caption.ttf);
}

@font-face {
    font-family: PT_Sans_Narrow;
    src: url(../font/PT_Sans_Narrow.ttf);
}

@font-face {
    font-family: PT_Sans_Bold;
    src: url(../font/PT_Sans_Bold.ttf);
}

body {
    background: #f5f5f5;
    font-family: PT_Sans_Regular;
}


form.login {
    position: absolute;
    width: 500px;
    left: 50%;
    margin-left: -250px;
    top: 50%;
    margin-top: -250px;
}

.buttons
{
    text-align: center;
}

.jumbotron {
    padding-left: 100px;
}

.month-selection li.month {
    vertical-align: top;
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 1px solid #bbb;
    text-align: center;
    padding-top: 10px;
}

.month-selection li.month:hover {
    background-color: #eeeeee;
    text-decoration: none;
}

.month-selection li.month p.title{
    color: #999;
    font-family: PT_Sans_Narrow;
    font-size: 20px;
    margin-bottom: 0px;
}


.month-selection li.month p.health{
    font-family: PT_Sans_Caption;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0;
}

.month-selection li.month p.balance {
    font-family: PT_Sans_Narrow;
    color: #999;
}

.month-selection li.month p.balance span.summ {
    font-family: PT_Sans_Caption;
    color: #999;
}

.month-selection li.month p.health-green, .month-selection li.month p.balance span.summ.green {
    color: #6f943f;
}

.month-selection li.month p.health-red, .month-selection li.month p.balance span.summ.red {
    color: #b75050;
}

.month-selection li.month p.health-yellow{
    color: #ADA827;
}

.month-selection li.month p.health-grey{
    color: #BBB;
}



.you-are-not-invited, .you-dont-have-invites {
    font-family: PT_Sans_Narrow;
    color: #999;
    font-size: 16px;
}

section.invitations {
    padding-bottom: 20px;
}

section.invitations h2 span {
    font-size: 20px;
}

section.invitations .invitation-content {
    display: none;
}