<!--<div class="modal fade">-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h4>{{ title }}</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" role="close">Отмена</button>
            <button type="button" class="btn btn-primary" role="save">Сохранить</button>
        </div>
    </div>
</div>
<!--</div>-->