<a href="{{ base_url }}/logout" class="btn btn-primary right-btn">Выйти</a>
<a href="{{ base_url }}" class="btn btn-default right-btn">К списку месяцев</a>
<!--<a href="{{ base_url }}/profile" class="btn btn-default right-btn">Профиль</a>-->
<a href="#" role="help-btn" class="btn btn-default right-btn">?</a>

<section class="master"></section>

<section class="body row">
    <ul class="tabs">
        <!--<li><a href="#" class="tab-link" tab="summary">Сводка</a></li>-->
        <li><a href="#" class="tab-link" tab="operations">Операции</a></li>
        <li><a href="#" class="tab-link" tab="plans">Плановые расходы</a></li>
        <li><a href="#" class="tab-link" tab="calendar">Календарь</a></li>
        <li><a href="#" class="tab-link" tab="categories">Категории</a></li>
        <li><a href="#" class="tab-link" tab="reports">Отчеты</a></li>
    </ul>

    <div class="content">
        <!--<section class="tab summary"></section>-->
        <section class="tab operations"></section>
        <section class="tab plans"></section>
        <section class="tab calendar"></section>
        <section class="tab categories"></section>
        <section class="tab reports"></section>
    </div>

</section>

<section class="notifications-container"></section>
