<h1 class="month-caption">
    <a href="#" class="previous-month-link"><span class="glyphicon glyphicon-chevron-left"></span></a>
    {{ month_caption }}
    <a href="#" class="next-month-link"><span class="glyphicon glyphicon-chevron-right"></span></a>
</h1>

<div class="top-master">

    <div class="control-button">
        <a href="#" role="health"><span class="glyphicon glyphicon-heart"></span></a>
        <a href="#" role="money"><span class="glyphicon glyphicon-piggy-bank"></span></a>
    </div>
    <div class="master-circle">
        <canvas width="270px" height="270px"></canvas>
        <div class="information">
            <div class="money-information">
                {{#isPastMonth}}
                    <h1 class="{{ month_balance_class }}">{{month_balance|toFixed}}</h1>
                    <p>Баланс месяца</p>
                {{/isPastMonth}}
                {{#isCurrentMonth}}
                    {{#today_is_negative}}
                        <h1 class="red with_tooltip">{{ can_spend_today|toFixed }} ₽</h1>
                        <p>Тратить уже нельзя</p>
                    {{/today_is_negative}}
                    {{^today_is_negative}}
                        <h1 class="green with_tooltip">{{ can_spend_today|toFixed }} ₽</h1>
                        <p>Сегодня можно потратить</p>
                    {{/today_is_negative}}
                    <p class="date">{{ date }}</p>
                {{/isCurrentMonth}}
            </div>
            <div class="health-information">
                <h1 class="{{ health_class }}">{{ health }} %</h1>
                <p>Финансовое здоровье</p>
            </div>
        </div>
    </div>
    <div class="info">
        <br/>
        <p class="income"><span class="with_tooltip">Доход в месяце</span>
            <span class="good">
                <span class="summ">{{ income | toFixed }}</span>
                <input type="number" class="summ-editor"/>
                ₽
                <a href="#" role="edit-income"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" class="save-income" role="save-income"><span class="glyphicon glyphicon-ok"></span></a>
            </span></p>

        <p class="plan"><span class="with_tooltip">Плановые расходы</span>
            <span class="bad">
                <span class="summ">{{ plan_expense | toFixed }}</span>
                ₽</span></p>

        <p class="spent"><span class="with_tooltip">Уже потрачено</span>
            <span class="bad">
                <span class="summ">{{ spent | toFixed }}</span>
                ₽</span></p>

        <p class="left"><span class="with_tooltip">Осталось</span>
            <span class="good">
                <span class="summ">{{ left | toFixed }}</span>
                ₽</span></p>

        <p class="can_spend_per_day"><span class="with_tooltip">Можно тратить в день</span>
            <span class="good">
                <span class="summ">{{ can_spend_per_day_future | toFixed }}</span>
                ₽</span></p>
    </div>
</div>