<section class="master"></section>

<section class="body row">
    <ul class="tabs">
        <li><a href="#" class="tab-link" tab="summary">Сводка</a></li>
        <li><a href="#" class="tab-link" tab="operations">Операции</a></li>
        <li><a href="#" class="tab-link" tab="plans">Плановые расходы</a></li>
        <li><a href="#" class="tab-link" tab="calendar">Календарь</a></li>
        <li><a href="#" class="tab-link" tab="tree">Категории</a></li>
    </ul>

    <div class="content">
        <section class="tab summary"></section>
        <section class="tab operations"></section>
        <section class="tab plans"></section>
        <section class="tab calendar"></section>
        <section class="tab tree"></section>
    </div>

</section>
