<h1 class="month-caption">Март 2016</h1>

<div class="top-master">
    <div class="master-circle">
        <canvas width="270px" height="270px"></canvas>
        <div class="information">
            <h1 class="{{#today_is_negative}}red{{/today_is_negative}}
                {{^today_is_negative}}green{{/today_is_negative}}">
                {{ can_spend_today|toFixed }} ₽</h1>
            <p>Сегодня можно потратить</p>
            <p class="date">10 марта 2016</p>
        </div>
    </div>
    <div class="info">

        <p class="income">Доход в месяце
            <span class="good">
                <span class="summ">{{ income | toFixed }}</span>
                <input type="number" class="summ-editor"/>
                ₽</span></p>

        <p class="plan">Плановые расходы
            <span class="bad">
                <span class="summ">{{ plan_expense | toFixed }}</span>
                ₽</span></p>

        <p class="spent">Уже потрачено
            <span class="bad">
                <span class="summ">{{ spent | toFixed }}</span>
                ₽</span></p>

        <p class="left">Осталось
            <span class="good">
                <span class="summ">{{ left | toFixed }}</span>
                ₽</span></p>
    </div>
</div>