<h3>Как это работает?</h3>

Наверняка, вам знакомы люди, которые после получения зарплаты, спускают все деньги за пару дней, а потом у них
остается небольшой остаток, приходится занимать или сильно себя урезать во всем. Вся проблема этих людей в том, что
они не умеют растягивать деньги на целый месяц, так как видят перед глазами большую сумму,
и не могут понять, как её правильно использовать.
<br/><br/>
На самом деле, такие проблемы встречаются у множества людей. Многие делают необоснованные покупки каждый месяц, хотя
могли бы откладывать эти деньги на что-то полезное. Все, что им нужно - финансовая дисциплина на каждый день. Только
имея конкретные ограничения <b>"на сегодня"</b>, вы сможете успешно распоряжаться своими деньгами, и ограничивать себя в
ненужных покупках, сохраняя при этом накопления.
<br/><br/>
Для начала разберемся, какие у вас бывают расходы.