<h3>Виды расходов</h3>

У вас есть два вида расходов - обязательные и необязательные, или "плавающие".
<br/><br/>
<h4>Обязательные расходы</h4>
Обычно, это ежемесячные траты, от которых никуда не деться, на которых не сэкономить. Например, это может быть оплата
кредита, аренда квартиры, коммунальные платежи, оплата абонемента в спортивный зал и так далее. На этом вам не
сэкономить, придется платить как есть.
<br/><br/>
<h4>Необязательные "плавающие" расходы</h4>
Сюда входит всё остальное, обычно это нефиксировнные траты, и вы сами решаете, как тратить вам деньги, сколько тратить
и на что. Тут вы можете, например, экономить на еде, не купив сладости или дорогие фрукты, заменив их отечетсвенными.
Или можете отказаться от похода в ресторан, сохранив при этом внушительную сумму. Не пользоваться такси, а ездить на
общественном транспорте. Не есть в фастфуде на обедах, а готовить еду дома и брать её с собой на работу. У
вас определенно есть статьи, по которым вы могли бы "затянуть пояс" при необходимости. У всех они есть.