<h3>Свободные деньги</h3>
Когда вы вычтете из ваших доходов ваши обязательные траты - вы получите свои свободные деньги. Давайте, рассмотрим
на примере: у вас зарлата 50 000 рублей, каждый месяц вы платите за коммунальные услуги примерно 5 000 рублей, и
за автокредит 12 000 рублей.  Плюс, вы хотите откладывать каждый месяц
по 8 000 рублей на поездку в Крым. Итого, у вас обязательных трат на (5000+12000+8000) = 25000 рублей.
<br/><br/>
Если вычесть из ваших доходов обязательные траты, то мы получим свободные деньги (50000 - 25000) = 25 000 рублей.
Именно эти деньги вы будете тратить на пищу, одежду, развлечения, транспорт, бензин и так далее.
<br/><br/>
Но если вам дать эти деньги сразу, вы их просто потратите за несколько дней. Вам нужно знать, сколько вы можете
тратить каждый день, чтобы как-то держать себя в рамках бюджета.
<br/><br/>
Допустим, сейчас апрель, в нем 30 дней. Делим свободные деньги на количество дней и получаем (33000 / 30) =
833 рублей в день.
Получается, если вы будете тратить не более 833 рублей в день, то сможете держаться в рамках бюджета, оплатить
все обязательные расходы, не влезть в долги и отложить 8 000 рублей на Крым. Отлично, теперь у вас есть цель.
<br/><br/>
Но что будет, если вы её нарушите?