<h3>Превышение бюджетов</h3>

В прошлом разделе руководства, в нашем абстрактном примере, мы вычислили, что вам надо тратить не более 833 рублей в день.
Но как тогда купить что-то дороже этой суммы, например джинсы за 3000 рублей?
<br/><br/>
Все просто, тратьте меньше 833 рублей несколько дней, и ваш баланс увеличится. Если вы будете неделю тратить
по 300 рублей в день, вы будете каждый день экономить по 533 рубля, и в конце недели наберется 3 731 лишний рубль,
который вы можете потратить на что угодно, и останетесь в рамках бюджета.
<br/><br/>
Но не всегда можно ждать, иногда надо тратить прямо сейчас. Если вы купите эти джинсы, не имея достаточно накопленных
денег, то влезете в минус, и ваш баланс будет несколько дней отрицательный, пока не накопится сумма,
которая покроет этот минус. Придется строго экономить, пока баланс не выйдет в плюс. Если вы будете следовать этим
правилам, то тоже останетесь в рамках бюджета, не влезете в долги, и сможете отложить в копилку.
<br/><br/>
Есть и другой путь, тратить и не ждать, пока баланс исправится, тратить так, как вам хочется. Тогда вы влезете в большой
минус, который не покроете до конца месяца, влезете в  долги или кредиты, и не сможете ничего накопить. Такой месяц
будет неудачным для вас. Таких месяцев у вас больше быть не должно, иначе всю жизнь будете перебиваться от зарплаты
до зарплаты.
<br/><br/>
Далее вы узнаете, как начать работать с приложением.