<h3>Начало работы</h3>

Теперь вы знаете теоретические основы работы с Stopspend.ru.
<br/><br/>
Теперь вам нужно сделать следующее:
<ol>
    <li>Введите свой месячный доход. Нажмите дважды на пункт "Доход в месяце" и введите значение.</li>
    <li>Заполните ваши обязательные расходы в разделе "Плановые расходы". Помните, что пока нет категорий, вы можете
        просто вводить любую строку в качестве имени категории, и она создастся автоматически.</li>
    <li>Регулярно вводите все свои расходы в разделе "Операции". Если вы совершили операцию "в кредит" или по
        кредитной карте, выберите соответствующий пункт в форме. Кредитная операция не повлияет на баланс, ведь отдавать
        вы будете её потом.</li>
    <li>Вы уже увидите, сколько можете сегодня потратить. Следуйте этому числу, старайтесь его не превышать,</li>
</ol>