<h3>Как начать не с начала месяца?</h3>

Обычно, работа с приложением рассчитана на непрерывное месячное ведение бюджета без каких-либо пробелов.
Но при регистрации может получиться так, что вам придется начинать не с начала месяца, а с середины, или
даже где-то в конце. Следуйте следующим рекомендациям, чтобы всё получилось правильно:
<br/><br/>
<ol>
    <li>Укажите в качестве дохода ту сумму, которая у вас еще осталась на этот месяц</li>
    <li>Не создавайте плановые операции, которые вы уже оплатили</li>
    <li>Опирайтесь на сумму "Можно тратить в день", чтобы примерно держаться в рамках баланса</li>
</ol>