{{#weeks}}
<div class="week">
    {{#.}}
    <div class="day">
        {{#empty}}
            {{#inheritedBalance}}
                <p class="inheritedBalance">
                    Баланс из прошлого месяца: <br/><span class="summ {{inheritedBalanceCls}}">{{ inheritedBalance }}</span>
                </p>
            {{/inheritedBalance}}
        {{/empty}}
        {{^empty}}
            <p class="date">{{ dt }}</p>
            <p class="summ {{#small}}small{{/small}} {{cls}}">{{#balance}}{{.|toFixed : 0}} ₽{{/balance}}</p>
            <p class="spent">Потрачено:
                <br/><span class="{{ spent_cls }}">{{spent|toFixed:0}} ₽
                    из {{ can_spend|toFixed:0 }} ₽</span>
            </p>
        {{/empty}}
    </div>
    {{/.}}
</div>
{{/weeks}}