<div class="buttons-container">
    <!--<button class="add-button btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Добавить</button>-->
</div>
<table class="table transactions">
    <thead>
    <tr>
        <th>Наименование</th>
        <th width="80px"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>