<td field="name">
    {{ name }}
</td>
<td>
    <a href="#" role="edit"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#" role="save"><span class="glyphicon glyphicon-ok"></span></a>
    <a href="#" role="remove"><span class="glyphicon glyphicon-remove"></span></a>
</td>