<div class="list-group">
    <a href="#" class="list-group-item section-selector" section="01_how_it_works">Как это работает?</a>
    <a href="#" class="list-group-item section-selector" section="02_spend_types">Виды расходов</a>
    <a href="#" class="list-group-item section-selector" section="03_free_money">Свободные деньги</a>
    <a href="#" class="list-group-item section-selector" section="04_limits">Превышение бюджетов</a>
    <a href="#" class="list-group-item section-selector" section="05_start">Начало работы</a>
    <a href="#" class="list-group-item section-selector" section="06_credit_operations">Кредитные операции</a>
    <a href="#" class="list-group-item section-selector" section="07_not_from_start_of_month">Как начать не с начала месяца?</a>
</div>