<!--<div class="modal fade">-->
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Справка</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4 menu-container">{{{ menu }}}</div>
                <div class="col-md-8 section-container">Выберите раздел</div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" role="close">Закрыть</button>
        </div>
    </div>
</div>
<!--</div>-->