<div class="form-group">
    <label>Категория</label>
    <input type="text" name="category" class="form-control" placeholder="Категория"/>
</div>

<div class="form-group">
    <label>Сумма</label>
    <input type="text" name="amount" class="form-control" placeholder="Сумма"/>
</div>
