<div class="buttons-container">
    <button class="btn btn-default" role="copy-plan-from-prev-month">Скопировать план из прошлого месяца</button>
    <button class="add-button btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Добавить</button>
</div>
<table class="table plans">
    <thead>
    <tr>
        <th>Категория</th>
        <th width="150px" class="summ">Потрачено</th>
        <th width="100px" class="summ">Сумма</th>
        <th width="80px"></th>
    </tr>
    </thead>
    <tbody></tbody>
</table>