<td field="category_name">
    <div class="plan-progress">
        {{ category_name }} ({{ percentage }}%)
        <div class="plan-progress-background {{ progress_bar_class }}"
             style="width: {{ percentage_width }}%"
        ></div>
    </div>

</td>
<td>{{ spent }} ₽</td>
<td field="amount" title="Из них по факту: {{ spent }}">{{ amount }} ₽</td>
<td>
    <a href="#" role="edit"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#" role="save"><span class="glyphicon glyphicon-ok"></span></a>
    <a href="#" role="remove"><span class="glyphicon glyphicon-remove"></span></a>
</td>