<div class="form-group">
    <label>Категория</label>
    <input type="text" name="category" class="form-control" placeholder="Категория"/>
</div>

<div class="form-group">
    <label>Сумма</label>
    <input name="amount" class="form-control" placeholder="Сумма"/>
</div>

<div class="form-group">
    <label>Дата</label>
    <div class='input-group date'>
        <input type='text' name="dt" class="form-control" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
</div>

<div class="checkbox">
    <label>
        <input name="is_credit" type="checkbox"/> Кредитная операция
    </label>
</div>

<div class="form-group">
    <label>Описание</label>
    <textarea class="form-control" rows="2" name="description"></textarea>
</div>

