<td>
    {{#author_avatar}}
    <img src="{{ baseUrl }}/avatar/mini/{{ author_avatar }}"/>
    {{/author_avatar}}
</td>
<td field="dt">
    <span title="{{ dt|dateFormat : 'HH:mm:ss' }}">{{ dt|dateFormat : 'D MMMM YYYY' }}</span>
</td>
<td field="is_credit">
    {{#is_credit}}
        <span class="glyphicon glyphicon-flash" title="Это кредитная операция, и она не влияет на баланс"></span>
    {{/is_credit}}
</td>
<td field="category_name">
    {{ category_name }}
    {{#description}}
    <span class="description">{{ description }}</span>
    {{/description}}
</td>
<td field="amount" title="Из них по плану: {{ plan_part }}">{{ amount }} ₽</td>
<td>
    <a href="#" role="edit"><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#" role="save"><span class="glyphicon glyphicon-ok"></span></a>
    <a href="#" role="remove"><span class="glyphicon glyphicon-remove"></span></a>
</td>