<div class="buttons-container">
    <div class="btn-group">
        <a href="#operations/yesterday" role="operation_sorting" sort="yesterday" class="btn btn-default">Вчера и сегодня</a>
        <a href="#operations/week" role="operation_sorting" sort="week" class="btn btn-default">За неделю</a>
        <a href="#operations/all" role="operation_sorting" sort="all" class="btn btn-default">Весь месяц</a>
    </div>
    <button class="add-button btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Добавить</button>
</div>
<table class="table transactions">
    <thead>
        <tr>
            <th width="45px"></th>
            <th width="190px">Дата</th>
            <th width="20px"></th>
            <th>Категория</th>
            <th width="100px">Сумма</th>
            <th width="80px"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>