<div class="btn-group">
    <button type="button" class="btn btn-default active" data-type="current_month">Текущий месяц</button>
    <button type="button" class="btn btn-default" data-type="previous_month">Предыдущий месяц</button>
    <button type="button" class="btn btn-default" data-type="manual">Вручную</button>
</div>