<div class="row">
    <div class="col-md-2">
        <div class="list-group">
            <a href="#" class="list-group-item" chart-type="by_categories">По категориям</a>
        </div>
    </div>
    <div class="col-md-10">
        <div class="filter-area"></div>
        <div class="chart-area"></div>
    </div>
</div>
